@model IEnumerable<Business_address.Models.Client>

@{
    ViewBag.Title = "Registro de Clientes";
}

<h2>Registro de Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>


@if(Model.Count() > 0) { 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Born)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Born)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Business.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { clientId = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })| 
            @Html.ActionLink("Direcciones del Cliente", "AddressesClient", new { clientId = item.Id })
        </td>
    </tr>
}

</table>

}
else
{
    <div class="jumbotron">
        <h1 class="text-info">No existen registro</h1>
    </div>
}
